voice-be/node_modules
voice-be/package_lock.json

__pycache__
voice-neuro/.venv
voice-neuro/src/dataset
voice-neuro/models

voice-fe/node_modules
voice-fe/public
voice-fe/.env
voice-fe/yarn.lock
voice-fe/package-lock.json
voice-fe/.pnp
voice-fe/.pnp.js
voice-fe/coverage
voice-fe/build
voice-fe/.DS_Store
voice-fe/.env.local
voice-fe/.env.development.local
voice-fe/.env.test.local
voice-fe/.env.production.local
voice-fe/npm-debug.log*
voice-fe/yarn-debug.log*
voice-fe/yarn-error.log*
